<div class="container">
  <h3 class="title row">Update album</h3>
  <div class="row form">
    <form class="col s12" novalidate (ngSubmit)="onSubmit()" [formGroup]="updateAlbumForm">
      <div class="row">
        <div class="input-field col s6">
          <span>Title *</span>
          <input id="title" type="text" class="validate text-white" formControlName="title" [ngModel]="albumDetailData.title">
        </div>
        <div class="input-field col s6">
          <span>Artist *</span>
          <select class="browser-default"  name="artist" id="artist" formControlName="artistId" [(ngModel)]="albumDetailData.artistId">
            <option *ngFor="let artistItem of artistList" value={{artistItem.id}}>{{artistItem.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <span>Photo</span>
          <input id="coverUrl" type="text" class="validate text-white" formControlName="coverUrl" [ngModel]="albumDetailData.coverUrl">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <span>Year</span>
          <input id="year" type="number" min="1909" max="2030" class="validate text-white" formControlName="year" [ngModel]="albumDetailData.year">
        </div>
        <div class="input-field col s6">
          <span>Genre</span>
          <input id="genre" type="text" class="validate text-white" formControlName="genre" [ngModel]="albumDetailData.genre">
        </div>
      </div>
      <button [routerLink]="['/albums/details/', albumDetailData._id]" class="waves-effect waves-light btn-small" type="button">Back</button>
      <button class="waves-effect waves-light btn-small m-2" type="submit" [disabled]="!updateAlbumForm.valid || submitted">Update</button>
    </form>
    <h6 class="mt-2">*Required</h6>
  </div>
</div>