<div class="container">
  <h3 class="title row">New artist</h3>
  <div class="form row">
    <form class="col s12" novalidate (ngSubmit)="onSubmit()" [formGroup]="newArtistForm">
      <div class="row">
        <div class="input-field col s12">
          <span>Name*</span>
          <input id="name" type="text" class="validate  text-white" formControlName="name">
        </div>
        <div class="input-field col s12">
          <span>Photo URL</span>
          <input id="photoUrl" type="text" class="validate  text-white" formControlName="photoUrl">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="birthdate" type="date" class="validate  text-white" formControlName="birthdate">
          <label class="text-white" for="birthdate">Birthdate</label>
        </div>
        <div class="input-field col s6">
          <input id="deathDate" type="date" class="validate  text-white" formControlName="deathDate">
          <label class="text-white" for="deathDate">Deathdate</label>
        </div>
      </div>
      <button [routerLink]="['/artists/']" class="waves-effect waves-light btn-small" type="button">Back</button>
      <button class="waves-effect waves-light btn-small m-2" type="submit" [disabled]="!newArtistForm.valid || submitted">Create</button>
    </form>
    <h6 class="mt-2">*Required</h6>
  </div>
</div>
