<div class="container">
  <h3 class="title row">New album</h3>
  <div class="row form">
    <form class="col s12" novalidate (ngSubmit)="onSubmit()" [formGroup]="newAlbumForm">
      <div class="row">
        <div class="input-field col s6">
          <span>Title *</span>
          <input id="title" type="text" class="validate text-white" formControlName="title">
        </div>
        <div class="input-field col s6">
          <span>Artist *</span>
          <select class="browser-default" name="artistId" id="artistId" formControlName="artistId">
            <option value="" disabled selected>Select an Artist</option>
            <option *ngFor="let artist of artistList" [value]="artist.id">{{artist.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="coverUrl" type="text" class="validate text-white" formControlName="coverUrl">
          <label for="coverUrl">Photo URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="year" type="number" min="1909" max="2030" class="validate text-white" formControlName="year">
          <label for="year">Year</label>
        </div>
        <div class="input-field col s6">
          <input id="genre" type="text" class="validate text-white" formControlName="genre">
          <label for="genre">Genre</label>
        </div>
      </div>
      <button [routerLink]="['/albums/']" class="waves-effect waves-light btn-small" type="button">Back</button>
      <button class="waves-effect waves-light btn-small m-2" type="submit" [disabled]="!newAlbumForm.valid || submitted">Create</button>
    </form>
    <h6 class="mt-2">*Required</h6>
  </div>
</div>
