<div class="loader-container" *ngIf="(artistDetailData | json) == ({} | json)">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<div *ngIf="(artistDetailData | json) !== ({} | json)" class="container">
  <div class="title row">
    <h3 class="col s6 m-0">{{ artistDetailData.name }}</h3>
    <div class="col s6 card-icons">
      <a [routerLink]="['/artists/']"
        ><span class="fas fa-list fa-lg card-icons-icon"></span
      ></a>
      <a [routerLink]="['/artists/update/', artistDetailData._id]"
        ><span class="fas fa-pencil-alt fa-lg card-icons-icon"></span
      ></a>
      <span *ngIf="confirmDelete">
        <h6 class="m-3">Delete artist: {{ artistDetailData.name }}??</h6>
        <button
          class="waves-effect waves-light btn-small m-2"
          (click)="deleteArtist(artistDetailData._id)"
        >
          Yes
        </button>
        <button
          class="waves-effect waves-light btn-small m-2"
          (click)="confirmDelete = false"
        >
          No
        </button>
      </span>
      <a
        class="cursor-pointer"
        *ngIf="!confirmDelete"
        (click)="confirmDelete = true"
        ><span class="fas fa-trash fa-lg card-icons-icon"></span
      ></a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img
            *ngIf="artistDetailData.photoUrl"
            src="{{ artistDetailData.photoUrl }}"
          />
          <img
            *ngIf="!artistDetailData.photoUrl"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
          />
        </div>
        <div class="card-content m-0">
          <h2 class="m-0">{{ artistDetailData.name }}</h2>
        </div>
        <div class="card-action">
          <p class="m-0" *ngIf="artistDetailData.birthdate">
            Birthdate: {{ artistDetailData.birthdate | date: "MM/dd/yyyy" }}
          </p>
          <p class="m-0" *ngIf="artistDetailData.deathDate">
            Deathdate: {{ artistDetailData.deathDate | date: "MM/dd/yyyy" }}
          </p>
        </div>
      </div>
      <div>
        <h4 class="row title mt-4 ps-3" *ngIf="artistAlbumsData.length > 0">
          Albums
        </h4>
        <div class="row-albums">
          <ul *ngFor="let album of artistAlbumsData">
            <a [routerLink]="['/albums/details/', album._id]">
              <div class="card">
                <div class="card-image">
                  <img
                    *ngIf="album.coverUrl"
                    class="card-image-activated"
                    src="{{ album.coverUrl }}"
                  />
                  <img
                    *ngIf="!album.coverUrl"
                    class="card-image-activated"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
                  />
                </div>
                <div class="card-content m-0">
                  <h5>{{ album.title }} - {{ album.year }}</h5>
                </div>
              </div>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
