<div class="loader-container" *ngIf="(albumDetailData | json) == ({} | json)">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<div *ngIf="(albumDetailData | json) !== ({} | json)" class="container">
  <div class="title row">
    <h3 class="col s6 m-0">{{ albumDetailData.title }}</h3>
    <div class="col s6 card-icons">
      <a [routerLink]="['/albums/']"
        ><span class="fas fa-list fa-lg card-icons-icon"></span
      ></a>
      <a [routerLink]="['/albums/update/', albumDetailData._id]"
        ><span class="fas fa-pencil-alt fa-lg card-icons-icon"></span
      ></a>
      <a
        class="cursor-pointer"
        *ngIf="!confirmDelete"
        (click)="confirmDelete = true"
        ><span class="fas fa-trash fa-lg card-icons-icon"></span
      ></a>
      <span *ngIf="confirmDelete">
        <h4 class="m-3">Delete album: {{ albumDetailData.title }}??</h4>
        <button
          class="waves-effect waves-light btn-small m-2"
          (click)="deleteAlbum(albumDetailData._id)"
        >
          Yes
        </button>
        <button
          class="waves-effect waves-light btn-small m-2"
          (click)="confirmDelete = false"
        >
          No
        </button>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img
            *ngIf="albumDetailData.coverUrl"
            src="{{ albumDetailData.coverUrl }}"
          />
          <img
            *ngIf="!albumDetailData.coverUrl"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
          />
        </div>
        <div class="card-content">
          <a [routerLink]="['/artists/details/', artistId]">
            <h5 class="m-0" *ngIf="artist">{{ artist }}</h5>
          </a>
          <p class="m-0" *ngIf="!artist">
            No artist registered - {{ albumDetailData.title }}
          </p>
        </div>
        <div class="card-action">
          <p class="m-0">
            {{ albumDetailData.genre || "Genre not specified" }} -
            {{ albumDetailData.year || "Year not specified" }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h4 class="title row mt-4 ps-3" *ngIf="artistAlbumsData.length > 0">
      Other {{ artist }} Albums
    </h4>
    <div class="row-albums">
      <ul *ngFor="let album of artistAlbumsData">
        <a [routerLink]="['/albums/details/', album._id]">
          <div class="card">
            <div class="card-image">
              <img
                *ngIf="album.coverUrl"
                class="card-image-activated"
                src="{{ album.coverUrl }}"
              />
              <img
                *ngIf="!album.coverUrl"
                class="card-image-activated"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
              />
            </div>
            <div class="card-content m-0">
              <h5>{{ album.title }} - {{ album.year }}</h5>
            </div>
          </div>
        </a>
      </ul>
    </div>
  </div>
</div>
