//To space better the icons in the cards
.card-icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &-icon{
    margin: 0 20px;
    color: white;
    &:hover{
      color: blue;
    }
  }
}
.row-albums{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}