<div class="loader-container" *ngIf="artistList.length == 0">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<div *ngIf="artistList.length > 0" class="container">
  <h3 class="title row ps-3">Artists List</h3>
  <div class="container container-list">
    <ul *ngFor="let artist of artistList">
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <a [routerLink]="['/artists/details/', artist.id]">
                <img class="card-image-activated" *ngIf="artist.photo" src="{{ artist.photo }}" />
                <img class="card-image-activated"
                  *ngIf="!artist.photo"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
                />
              </a>
            </div>
            <div class="card-content">
              <a class="m-0" [routerLink]="['/artists/details/', artist.id]"><h5 class="m-0">{{
                artist.name
              }}</h5></a>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
