//Materialize
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
//Bootstrap
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

html,
body {
  height: 100%;
  background-color: black;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cursor-pointer {
  cursor: pointer;
}
.title {
  display: flex;
  align-items: center;
  background-color: #26a69a;
  color: white;
  padding: 5px;
}
.card {
  width: 340px;
  margin: 5px;
}
.container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

//All the images in the app works with this size
img {
  width: 340px;
  height: 300px;
}

.card-image-activated:hover {
  border: 10px solid #26a69a;
}

.form {
  margin: 3px;
  border: 1px solid white;
  padding: 10px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: #26a69a;
  text-decoration: none;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, #26a69a, #000);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
