<div class="container">
  <nav class="navbar navbar-expand navbar-light bg-light fixed-top ">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><span class="fas fa-home home-icon icon-custom-color"></span></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Artists
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" [routerLink]="['/artists/new']"
                  >New Artist  <span class="fas fa-user-plus fa-lg icon-navbar-margin icon-custom-color"></span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/artists']"
                  >List Artists <span class="far fa-list-alt fa-lg icon-navbar-margin icon-custom-color"></span></a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Albums
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" [routerLink]="['/albums/new']"
                  >New Album<span class="fas fa-music fa-lg icon-navbar-margin icon-custom-color"></span></a
                >
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/albums']"
                  >List Albums<span class="far fa-list-alt fa-lg icon-navbar-margin icon-custom-color"></span></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
