<div class="loader-container" *ngIf="albumList.length == 0">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<div *ngIf="albumList.length > 0" class="container">
  <h3 class="row title ps-3">Albums List</h3>
  <div class="container container-list">
    <ul *ngFor="let album of albumList">
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <a
                *ngIf="album.photo"
                [routerLink]="['/albums/details/', album.id]"
                ><img class="card-image-activated" src="{{ album.photo }}"
              /></a>
              <a
                *ngIf="!album.photo"
                [routerLink]="['/albums/details/', album.id]"
                ><img class="card-image-activated"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"
              /></a>
            </div>
            <div class="card-content">
              <a class="m-0" [routerLink]="['/albums/details/', album.id]"
                ><h5 class="m-0">{{ album.title }} -
                {{ album.genre || "Genre not specified" }}</h5></a
              >
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
