<div class="container">
  <h3 class="title row">Update artist</h3>
  <div class="row form">
    <form
      class="col s12"
      novalidate
      (ngSubmit)="onSubmit()"
      [formGroup]="updateArtistForm"
    >
      <div class="row">
        <div class="input-field col s12">
          <span>Name*</span>
          <input
            id="name"
            type="text"
            class="validate text-white"
            formControlName="name"
            [ngModel]="artist.name"
          />
        </div>
        <div class="input-field col s12">
          <span>Photo</span>
          <input
            id="photoUrl"
            type="text"
            class="validate text-white"
            formControlName="photoUrl"
            [ngModel]="artist.photoUrl"
          />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input
            id="birthdate"
            type="date"
            class="validate text-white"
            formControlName="birthdate"
            [ngModel]="artist.birthdate | date: 'yyyy-MM-dd'"
          />
          <label class="text-white" for="birthdate">Birthdate</label>
        </div>
        <div class="input-field col s6">
          <input
            id="deathDate"
            type="date"
            class="validate text-white"
            formControlName="deathDate"
            [ngModel]="artist.deathDate | date: 'yyyy-MM-dd'"
          />
          <label class="text-white" for="deathDate">Deathdate</label>
        </div>
      </div>
      <button
        [routerLink]="['/artists/details/', artist._id]"
        class="waves-effect waves-light btn-small m-2"
        type="button"
      >
        Back
      </button>
      <button
        class="waves-effect waves-light btn-small"
        type="submit"
        [disabled]="!updateArtistForm.valid || submitted"
      >
        Update
      </button>
    </form>
    <h6 class="mt-2">*Required</h6>
  </div>
</div>
