<div class="main">
  <div class="loader-container" *ngIf="albumList.length == 0 || artistList.length == 0">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <div *ngIf="albumList.length > 0 || artistList.length > 0" class="main__list">
    <ul *ngFor="let album of albumList">
      <div class="main__list-item" *ngIf="album.photo">
        <a [routerLink]="['/albums/details/', album.id]"
          ><img class="card-image-activated" src="{{ album.photo }}"
        /></a>
      </div>
    </ul>
    <ul *ngFor="let artist of artistList">
      <div class="main__list-item" *ngIf="artist.photo">
        <a [routerLink]="['/artists/details/', artist.id]"
          ><img class="card-image-activated" src="{{ artist.photo }}"
        /></a>
      </div>
    </ul>
  </div>
</div>
