.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-item {
      margin: 10px;
    }
  }
}
